body {
    font-family: 'Arial';
    font-size: 20px;
}

.block {
    padding: 30px 0;
    box-sizing: border-box;
    margin: 30px auto;
    text-align: center;
}

.container {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: calc(1080px + 14px);
    background-color: rgb(234, 34, 74);
}

.header {
    padding-top: 20px;
    max-width: calc(1080px + 14px);
    height: calc(50px + 14px);
    background-color: rgb(198, 148, 25);
    border: 1px solid rgb(167, 64, 218);
}

.slider {
    max-width: calc(812px + 14px);
    height: calc(190px + 14px);
    background-color: rgb(167, 64, 218);
    border: 1px solid rgb(234, 34, 74);
}

.menu {
    padding-top: 20px;
    max-width: calc(670px + 14px);
    height: calc(50px + 14px);
    background-color: rgb(192, 48, 48);
    border: 1px solid rgb(142, 142, 142);
}

.news {
    max-width: calc(812px + 14px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news > div {
    width: calc(215px + 14px);
    height: calc(250px + 14px);
}

#news1 {
    background-color: rgb(142, 142, 142);
    border: 2px solid rgb(46, 192, 184);
}

#news2 {
    background-color: rgb(74, 193, 127);
    border: 2px solid rgb(121, 156, 49);
}

#news3 {
    background-color: rgb(121, 156, 49);
    border: 2px solid rgb(192, 48, 48)
}

.content {
    max-width: calc(812px + 14px);
    height: calc(500px + 14px);
    background-color: rgb(219, 106, 106);
    border: 1px solid rgb(167, 64, 218);
}

.body {
    font-size: 40px;
}

.footer {
    padding-top: 20px;
    max-width: calc(1080px + 14px);
    height: calc(50px + 14px);
    background-color: rgb(46, 192, 184);
    border: 1px solid rgb(198, 148, 25);
}

@media screen and (max-width: 480px) {
    .news {
        display: block;
    }

    .news > div {
        width: auto;
        max-width: 360px;
    }
}